<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email validation</title>
        <style>
        h2 {
            background-color: rgb(37, 16, 107);
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <h2>Validate Email</h2>
        Plese click <a href="https://crypto-wars.herokuapp.com/user/validate/{{mail}}">HERE</a> to validate <strong>{{mail}}</strong> as your E-mail
</body>
</html>